
<div *ngIf="enseignant">
    <h2><span jhiTranslate="khidmaApp.enseignant.detail.title">Enseignant</span> {{enseignant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="khidmaApp.enseignant.firstName">First Name</span></dt>
        <dd>
            <span>{{enseignant.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="khidmaApp.enseignant.lastName">Last Name</span></dt>
        <dd>
            <span>{{enseignant.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="khidmaApp.enseignant.email">Email</span></dt>
        <dd>
            <span>{{enseignant.email}}</span>
        </dd>
        <dt><span jhiTranslate="khidmaApp.enseignant.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{enseignant.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="khidmaApp.enseignant.adresse">Adresse</span></dt>
        <dd>
            <span>{{enseignant.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="khidmaApp.enseignant.eleve">Eleve</span></dt>
        <dd>
            <span *ngFor="let eleve of enseignant.eleves; let last = last">
                <a [routerLink]="['/eleve-my-suffix', eleve?.id ]">{{eleve.firstName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'enseignant-my-suffix/'+ enseignant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
